:root {
    --primary-color: #cccfd8;
    --secondary-color: rgb(79, 124, 118);

    --bek-color: rgb(181, 181, 195);
    --font-color: black;


    --p-sides: 1rem;
    --p-top: 2rem;
    --p-bottom: 2rem;

    --img-width: 100%;
    --img-height: 100%;
}

/*var(--name)*/
/* Basics: */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* HTML5-Elemente */
header, main, nav, aside, article, footer, figure, figcaption {
    display: block;
    padding: 0;
}
/*general*/
body {
    font-size: 1rem;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--font-color);
}
/*nav-bar*/
.m-nav {
    padding-top: var(--p-top);
}

.nav-width {
    background-image: url(../img/jayden-chong-DFqa4Fq5LNE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vw;
}
.navbar-link {
float: left;

}
ul.menu li{
    display: inline-block;
    list-style: none;   
}
ul.menu li a{
    display:flex;
    padding: var(--p-top) var(--p-sides) var(--p-bottom) var(--p-sides);
    color: rgb(194, 15, 90);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    float: left; 
}
ul.menu li a:hover{
    color: rgb(0, 204, 255);
}
.navbar-recht{
    float: right;
    padding-right: var(--p-sides);
}
/*end navbar*/
.p-h {
    color: var(--secondary-color);
    text-align: center;
    padding-top: var(--p-top);
    font-size: 4rem;
}
/*grid*/
.g-container {
    display: grid;
    grid-template-columns: repeat(4,22vw) ;
    grid-template-rows: 35vw;
    gap: 1rem;
    text-align: center;
    align-items: center;
}
.gi-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.gi-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.gi-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.gi-4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.g-container img {
    width: 40%;
    height: var(--img-height);
    padding: 1rem;
    border: 0.3rem solid var(--secondary-color);
    border-radius: 50%;
    
}
.ro-2 {
    background-color: var(--primary-color);
    padding: var(--p-top) 4.5% var(--p-bottom) 4.5%;
    
}
.bg-item {
    background-color: white;
    border-top: 0.5rem solid var(--secondary-color);
    padding: var(--p-top) var(--p-sides) var(--p-bottom) var(--p-sides);
    box-shadow: 0 4px 8px 3px rgb(117, 117, 117);
}
figure p {
    font-size: 1.3rem;
    padding-top: 0.2rem;
    text-align: center;
    font-style: italic;
}
figure figcaption {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
}
.box {
    width: 50%;
    background: rgb(255, 255, 255);
    position: relative;
    transform: translate(50%, -5%);
    z-index: 1;
    padding-left: 1%;
    border-radius: 2%;  
    margin-top: 3rem;
}
.bt {
 background-color: rgb(194, 15, 90);
 color: white;
 font-size: 1rem;
 border: none;
 border-radius: 30px;
 margin-left: 5%;
 margin-bottom: 5%;
 margin-top: 2%;
 width: 25%;
 padding: 2%;

}
.pbox1 {
    padding-left: 5%;
    color: var(--secondary-color);
    padding-bottom: 5%;
    font-size: 3rem;
    padding-top: 5%;

}
.pbox2 {
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 1.3rem;
    font-weight: bold;
}
.img1 img {
    
    width: 22%;
    height: 25%;
    background: rgb(255, 255, 255);
    top: 40%;
    left:50%;
    position: relative;
    transform: translate(-190%, -50%); 
}
.img2 img {
    width: 50%;
    height: 20%;
    background: rgb(255, 255, 255);
    top: 40%;
    left:50%;
    position: relative;
    transform: translate(-20%, -120%);  
}
.img3 img {
    width: 32%;
    height: 20%;
    background: rgb(255, 255, 255);
    top: 40%;
    left:50%;
    position: relative;
    transform: translate(-75%, -210%);  
}
.img4 img {
    width: 30%;
    height: 250px;
    background: rgb(255, 255, 255);
    top: 40%;
    left:50%;
    position: relative;
    transform: translate(0, -300%);  
}
.ptext {
    font-size: 1.3rem;
    font-weight: bold;
    border-left: 0.5rem solid var(--secondary-color);
    width: 60%;
    padding: 3%;
    margin-left: 5%;
    position: relative;
    transform: translate(-5%, -410%);  
}
